h1 {
   font-size: 25pt;
   font-family: 'Allerta Stencil', sans-serif;
   color: #7B9BA6;
   text-align: center;
}

.open-box {
  width: 100%;
}

.open {
  font-family: 'Open Sans Condensed';
  font-size: 20px;
  cursor: pointer;
}

.first-row {
  width: 100%;
}

.second-row {
  width: 100%;
}

.first-row-first-column {
  width: 50%;
}

.first-row-second-column {
  width: 50%;
}

.second-row-first-column {}

.second-row-second-column {}

.map {
  position: relative;
  height: 300px;
  width: 100%; 
}

.side-menu-form {
  padding: 0px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cdd6d5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-menu-close-btn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}

.inputs-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: 'Open Sans Condensed';
}




/*
path {
	fill: #233656;
}

.form {
	display: block;
	position: absolute;
}

label {
	font-family: 'Muli', sans-serif;
}

.inputs-row {
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.total-budget-label {
	margin-left: 5px;
}

.submit-button {
	float: right;
}

.map {
    overflow: unset;
    transform: scale(0.6, 0.5) translate(-515px, -190px);
}

.active {
    fill: #7AC5CD;
}
.hidden {
      display: none;
}

.coutry_tooltip{
  fill: #4E78A0 ;
  opacity: 0.9;
}
.tooltip {
      color: #222;
      background: #fff;
      border-radius: 3px;
      box-shadow: 0px 0px 2px 0px #a6a6a6;
      padding: .2em;
      text-shadow: #f5f5f5 0 1px 0;
      opacity: 0.9;
      position: absolute;
      }

.rankedgraph {
  transform: translate(800px, -600px);
}

.yaxis path,
.yaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.yaxis text {
    font-family: sans-serif;
    font-size: 11px;
}

.xaxis path,
.xaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.xaxis text {
    font-family: sans-serif;
    font-size: 11px;
}
*/